ALTER TABLE [dbo].Activities
ADD Tran_Mode VARCHAR(3) NOT NULL DEFAULT 'INS';

ALTER TABLE [dbo].[FundingSources]
ADD Tran_Mode VARCHAR(3) NOT NULL DEFAULT 'INS';

ALTER TABLE [dbo].[Login]
ADD Tran_Mode VARCHAR(3) NOT NULL DEFAULT 'INS';

ALTER TABLE [dbo].[MAICPartners]
ADD Tran_Mode VARCHAR(3) NOT NULL DEFAULT 'INS';

ALTER TABLE [dbo].[MAICPrograms]
ADD Tran_Mode VARCHAR(3) NOT NULL DEFAULT 'INS';

ALTER TABLE [dbo].[Tribes]
ADD Tran_Mode VARCHAR(3) NOT NULL DEFAULT 'INS';